@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Open+Sans&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: orange;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}